* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: sans-serif;
  font-size: 10px;
  padding: 10px;
  width: 90%;
  margin: 50px auto;
}

body .container {
  margin: 50px auto;
  width: 90%;
  border: .5px black;
}


.arrow-left i {
  width: 120px;
  color: black;
  border: .5px black;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
}

nav .arrow-left {
  list-style: none;
  overflow: hidden;

}
/*.restaurant-list {
  padding-top: 50px;
  margin: 10px;
  border: 5px solid;
  padding: 50px;
  width: 400px;
  background: gray;
} */

.location {
  margin: 0;
  padding: 20px;
  border: .5px solid black;
  width: 400px;
  background-color: #ffffff;
}

.content, .arrow {
  display: block;
  padding: 8px 16px;
  color: #000;
  text-decoration: none;

}


.arrow {
  float: right;
  background-position: center;
}

h1 {
  font-weight: 100px;
  font-size: 16px;
  font-family: sans-serif;
}

h3 {
  font-size: 12px;
  font-family: sans-serif;
}

.section {
  float: left;
  margin: 5px 1% 0 1%;

}
